body {
    background-image: conic-gradient(rgb(187, 70, 70), rgb(196, 149, 47), rgb(52, 121, 61),
            rgb(28, 65, 100), rgb(185, 77, 77));
    cursor: pointer;
}

#title-container-id {
    margin-top: 40px;
    height: 80px;
    width: 100%;
    background-color: darkred;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #c4bdbc;
}

#modal_body_data {
    text-align: center;
}

#game-title {
    font-family: "Times New Roman", Times, serif;
    color: white;
    padding-top: 5px;
    font-size: 200%;

}

.poles {
    height: 230px;
    width: 30px;
    border-radius: 25%;
    background-color: rgb(190, 29, 29);
    align-items: center;
    display: flex;
    flex-direction: column;

}

.poles-bottom {
    height: 15px;
    width: 100%;
    background-color: rgb(68, 8, 8);
    border-radius: 25%;
    margin-bottom: 20%;

}

#poles_container_row {
    text-align: center;
    justify-content: center;
}

#poles-container {
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 2%;
    margin-top: 40px;
    width: 100%;
    box-shadow: 0 0 10px #42af27;

}

#pole1 {
    display: flex;
    flex-direction: column-reverse;
}

#pole2 {
    display: flex;
    flex-direction: column-reverse;

}

#pole3 {
    display: flex;
    flex-direction: column-reverse;

}

#header_buttons_container {
    text-align: center;
    color: darkred;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-buttons {
    width: 85px;
    margin: 0 auto;
    height: 50px;
    text-align: center;
    background-color: darkred;
    color: white;
    border-radius: 10%;
    align-items: center;
    display: flex;
    border-color: rgb(196, 74, 58);
    border-style: double;
    flex-direction: column;
    align-items: center;

}

.restart_button {
    width: 110px;
    height: 40px;
    text-align: center;
    background-color: darkred;
    color: rgb(240, 238, 238);
    border-radius: 10%;
    border-color: rgb(180, 80, 66);
    border-style: double;
    font-size: 20px;
    margin-top: 20px;
    font-family: "Times New Roman", Times, serif;

}

.restart_button:hover {
    width: 110px;
    height: 40px;
    text-align: center;
    background-color: rgb(12, 36, 3);
    color: rgb(240, 230, 230);
    border-radius: 10%;
    border-color: rgb(240, 234, 233);
    border-style: double;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;


}

#restart_button_container {
    margin-top: 20px;
    padding-bottom: 20px;

}

.disks {
    display: flex;
    flex-direction: column;
    height: 25px;
    border-radius: 15%;
    justify-content: center;
    color: white;
    z-index: 1;
    user-select: none
}


.disks[data-id='1'] {
    background-color: rgb(6, 48, 48);
    width: 35px;
}


.disks[data-id='2'] {
    background-color: rgb(138, 117, 2);
    width: 42px;
}

.disks[data-id='3'] {
    background-color: rgb(24, 50, 167);
    width: 49px;
}

.disks[data-id='4'] {
    background-color: rgb(209, 73, 20);
    width: 56px;
}

.disks[data-id='5'] {
    background-color: rgb(28, 187, 23);
    width: 63px;
}

.disks[data-id='6'] {
    background-color: rgb(202, 29, 202);
    width: 70px;
}

.disks[data-id='7'] {
    background-color: rgb(27, 139, 139);
    width: 77px;
}

.disks[data-id='8'] {
    background-color: rgb(172, 14, 67);
    width: 84px;
}

.disks[data-id='9'] {
    background-color: rgb(39, 102, 23);
    width: 91px;
}